<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>

    <link
            href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}"
            rel="stylesheet"
    />
    <style>
        .container{
            width: 870px;
            height: 622px;
            overflow-x: hidden;
            overflow-y: scroll;
        }
        body {
            padding-top: 5rem;
        }
        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="dashboard.css" th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>
<div th:replace="bar::topbar"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="bar::sidebar"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">

                    </div>
                </div>
                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:200%;height:200%;left:0; top:0">
                    </div>
                </div>
            </div>
            <div class="alert alert-warning alert-dismissible fade show" th:if="${not #strings.isEmpty(msg)}" >
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong th:text="${msg}"></strong>
            </div>
        <div class="row bg-light">
            <div class="col-md-3" th:each="p:${session.products}">
                <div class="card mb-3 shadow-sm">
                    <a href="#" th:href="@{'/goods/details/'+${p.getProId()}}" methods="get">
                        <div style="width: 100%;height: 300px"
                             class="bd-placeholder-img card-img-top">
                        <img th:src="'/img/'+${p.getProImage()}" width="100%" height="100%" >
                        </div>
                    </a>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                    <div class="card-body">
                        <h5 class="card-title" th:text="'商品名：'+${p.getProName()}" ></h5>
                        <div style="overflow: auto;height: 60px;width: 100%">
                        <p class="card-text" th:text="${p.getProDescribe()}">
                            这是一种较宽的卡片，带有下面的支持文字，可以自然地引入其他内容
                        </p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a th:href="@{'/shoppingcart/addOne/'+${p.getProId()}}" type="button" class="btn btn-sm btn-outline-secondary" methods="get">
                                   加入购物车
                                </a>
                                <a
                                        type="button"
                                        class="btn btn-sm btn-outline-secondary"
                                >立即购买
                                </a>
                            </div>
                            <small class="text-muted" th:text="'销量：'+${p.getSales()}">
                            销量</small
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </main>
    </div>
</div>
<script src="/webjars/jquery/3.4.1/jquery.js"></script>
<script>
    window.jQuery ||
    document.write(
        '<script src="/webjars/jquery/3.4.1/jquery.slim.min.js"><\/script>'
    );
</script>
<script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.bundle.min.js"></script>
<script>
    $().alert('close');
</script>
</body>
</html>
