<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="/docs/4.4/dist/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}" rel="stylesheet"  >
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link th:href="@{/css/register.css}" rel="stylesheet">
</head>
<body>
<form class="form-signin" th:action="@{/user/register}" method="post">
    <div class="text-center mb-4">
        <img class="mb-4" th:src="@{/img/bootstrap-solid.svg}" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">请注册</h1>
        <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    </div>

    <div class="form-label-group">
        <input type="name" name="userName" id="inputName" class="form-control" placeholder="Username" required autofocus>
        <label for="inputName">Username</label>
    </div>


    <div class="form-label-group">
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
    </div>


    <div class="form-label-group">
        <select id="inputSex" name="sex" class="form-control">
            <option>Sex</option>
            <option>男</option>
            <option>女</option>
        </select>
    </div>

    <div class="form-label-group">
        <input type="address" name="address" id="inputAddress" class="form-control" placeholder="Address" required>
        <label for="inputAddress">Address</label>
    </div>

    <div class="form-label-group">
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required>
        <label for="inputEmail">Email</label>
    </div>

    <div class="form-label-group">
        <input type="tel" name="tel" id="inputTel" class="form-control" placeholder="Tel" required>
        <label for="inputTel">Tel</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
</form>
</body>
</html>